a:link {
    text-decoration: none;
  }
.nav-custom,
.dropdown-menu {
  background-color: #3A3939 !important;
}
.nav-custom{
  padding: 1rem 2rem;
}
.navbar-brand {
  color: #36993A !important;
  font-size: 1.5rem !important;
  font-weight: 450 !important;
}
.nav-item a {
  color: #ffffff !important;
}
.navbar-toggler
{
  background-color: #36993A !important;
}

.footer{
  padding: 1rem 2rem .1rem 2rem;
  background-color: #3A3939;
  color:  #ffffff;
}
.footer-nav li a {
    color: #ffffff;
}
.footer-nav li a:hover {
    text-decoration: underline;
}
.footer_titel,
.footer_copyright {
  text-align: center;
}
.footer_titel {
  font-size: 1.5rem;
  color: #36993A !important;
  font-weight: 450 !important;
}
.footer_copyright{
  font-size: .8rem;
}

.slide-content{
  /* display:inline-block; */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
}

.slide-image,
.slide-image2,
.slide-image3{
  position: relative;
  z-index: -1;
}

.slide-text,
.slide-text2,
.slide-text3{
  position: absolute;
  top:30%;
  left:50%;
  transform: translate(-50%);

  color: #ffffff;
  font-size: 25px;
  word-spacing: 3px;
  /* letter-spacing: 1px; */
}


/* responsiveness */
@media (max-width: 575.98px) { 
  .footer_link {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-nav{
    margin-bottom: 0px;
  }
  .footer_copyright {
    margin-top: .5rem;
  }
 }